<!DOCTYPE html>
<html lang="nl">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}BrainBoost{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/brainboost-logo3.png')}}">
    {% block extra_css %}{% endblock %}
  </head>
  <body>
    {% include 'partials/navbar.html' %}

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="flash-wrapper" style="width: 100%; display: flex; justify-content: center; padding-top: 20px;">
          <div class="flash-container" style="width: 90%; max-width: 600px; text-align: center;">
            {% for message in messages %}
             <div style="background-color: #d4edda; color: #155724; padding: 15px; border-radius: 8px; margin-bottom: 10px; box-shadow: 0 4px 10px rgba(0,0,0,0.05); font-weight: bold;">
              {{ message }}
            </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}
    {% endwith %}
    <main class="main">
      <header>{% block header %}{% endblock %}</header>
      <section>{% block content %}{% endblock %}</section>
    </main>
    
    <footer>&copy; 2026 BrainBoost</footer>
    {% block extra_js %}{% endblock %}
  </body>
</html>